


.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
}


.footer{
  margin-top: 500px;
}


code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  
}

.App-link {
  color: #09d3ac;
}
.registered,.btn, input{
   margin-top: 2%;
  margin-bottom: 2%;

}


 .login-sm{
  margin-left: 100px ;

}


.pricing-app{
  
}


.pay{
  margin-top : 50px;
}



.cart ,.gallary{
  margin-top: 100px;
}


input[type="text"],
input[type="file"],
input[type="password"],
.select [type="text"],
.btn,
button[type="submit"]{
  margin-top:10px ;
  width: 50%;
  padding: 10px;
  border-radius: 40px;
  outline: none;
  margin-top: 40px;
  height: 60;

 
}


.upload ::before{
  content : "UPLOAD PRODUCT ";
  z-index: 2;
  width: 520px;
  height: 60px;
  border-radius: 40;
  margin-top: 40px;

}
 input[type="file"] {
  width: 520px;
  height: 60px;
  border-radius: 40;
  margin-top: 40px;
  
}

@media(max-width:700px){
  input[type="text"],button[type="submit"],input[type="file"], 
  .select[type="text"] , input[type="password"] , .btn{
  margin:1px ;
  width: 90%;
  height: 60%;
  padding: 1px;
   border-radius: 40px;
    outline: none;
    margin-top: 40px;
  
  }
}
.SocialIcon{
  margin: 10px;
  padding: 10px;

}


@media (max-width:700px){
.btn , .file{
  margin:30px ;
  width: 80%;
  padding: 20px;
border-radius: 45px;
height: 40%;
outline: none;
  
  }
}

.comment, input{
    text-align: center;
    align-content: center;
}

.payment{
margin-top: 200px;


}

@media (max-width:700px){
  .image{
    width: 100px;
     transition: .3s;
  }
}

.image{
  width: 150px;
  height: 100px;
   transition: 3s;
}

.prevent{
  width: 300px;
  height: 200px;

}

.price{
  height: 80px;
}

.cart ,.product-preview{
  width: 70%;
}

card-footer{
  height: 40px;
}



.btn,span:hover{
  color:#282c34

} 
.addTocart{
  border-radius: 50px;
  width: 40px;
  align-self: center;

}
.removeFromCart{
  border-radius: 50px;
  width: 40px;
  align-self: center;

}

.women{
  margin-top: 20px;
  background:#87ceeb ;
}
.men{
  margin-top: 100px;
}

.no-item{
  margin-top: 200px;
  
}


.pay-1{
  border-radius: 30%;
}
.product-gallary{
  width: 280px;
  margin-right: 50px;
  margin-left: 150px;
  padding: 10px;

}
@media (max-width:700px){
.product-gallary{
  width: 280px;
  margin-right: 0px;
  margin-left: 35px;
  padding: 10px;

}
}
.featured_product{
  width: 1200px;
  height: 400;
}
.image-featured-product{
  width:150px;
  height: 100px;
   transition: 3s;
}


.product-row{
  display: flex;
  flex-wrap: wrap;
  
}

.product-col{
  width: 100px;
  margin-right: 30px;
   margin-left: 30px;

}
.product-cart{
  margin-right: 20px;
  height: 250px;
  margin-bottom: 80px;
   margin-right: 8F0px;
    width: 200px;
    padding: 25px;
}


.fa-footer{
  padding: 20px;
}


.paymentbutton{
  margin-top: 20px;
}



.cart-menu{
  position: absolute;
  right :50px
}



.fa-home{
  font-size: xx-large;
}


.cart-menu-item{
  position: absolute;
  right: 80px;
  top : 10px;
  
  width: 20px;
  height: 20px;
  color: #87ceeb;
  border-radius: 10px;
font-size: small;
}



.ca{
 font-size: xx-large
}



.payment_logo{
  height: 70px;
  width: 100px

}


@media (min-width:700px){
.mobile_view{
display: none

}

}

@media (max-width:700px){
.desktop_view{
display: none

}

}

.sucess-page{
  margin-top: 100px
}


.success{
  width: 1000px;
  height: 400px
}